<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="ISO-8859-1">
        <title>User registration form</title>
    </head>
        <main>
            <h1>Create guest</h1>
            <form th:object="${guestDto}"
                  th:action="@{/guests/create}"
                  method="post">
                <div>
                    <label for="name">Name</label>
                    <input id="name" type="text"
                           th:field="*{name}">
                    <p th:if="${#fields.hasErrors('name')}"
                       th:text="${#strings.listJoin(#fields.errors('name'), ', ')}"></p>
                </div>
                <div>
                    <label for="id">Id</label>
                    <input id="id" type="text"
                           th:field="*{id}">
                    <p th:if="${#fields.hasErrors('id')}"
                       th:text="${#strings.listJoin(#fields.errors('id'), ', ')}"></p>
                </div>
                <div>

                    <input id="order" type="hidden" value="0"
                           th:field="*{order}">

                </div>

                <button type="submit">Register</button>
            </form>
        </main>

        <a href="../../webapp">Home</a>
    </body>
</html>
